<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log In</title>
</head>
<body>
    <h1>LOG IN</h1>
    <p>{{message}}</p>
    <form action="#" method="POST">
        <label for="usrname">Username</label>
        <input id="usrname" name="usrname" type="text">
        <br>
        <label for="psw">Password</label>
        <input id="psw" name="psw" type="password">
        <button type="submit">Submit</button>
    </form>
</body>
</html>